
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Hellix;
    background: linear-gradient(7deg, #EEF5FF 0%, #FFF 99.69%); 
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden; 
}

h1, h2, h3 h4, h5{
    color: #111235;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

button {
    width: 252px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 35px;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer h4 {
    font-weight: 600;
    margin-top: 30px;
    padding-right: 40px;
    margin-bottom: 10px;
}

.footer h5 {
    font-size: 12px;
    margin-top: 60px;
}

#email-submit-box {
    width: 45%;
    height: 30px;   
    border-radius: 8px;
    background: #FFF;
    border: none;
    background: url('https://assets.codepen.io/6060109/icon-send.png') white 95% 50% no-repeat;
}

#email-submit-box::placeholder {
    color: #111235;
    font-feature-settings: 'liga' off;
    font-family: Hellix;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

#search-icon {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 4%;
}

.mobile-constraint {
    max-width: 500px;
    margin: auto;
}

.paragraph-size {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.mini-size {
    font-size: 18px;
    margin-bottom: 30px;
}

.tiny-size {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-bottom: 15px;
    margin-top: 0;
}

.small-size {
    font-size: 36px;
    font-weight: 500;
}

.mid-size {
    font-size: 48px;
    font-weight: 500;
}

.large-size {
    font-size: 64px;
    font-weight: 500;
}

.bold {
    font-weight: 700;
    font-style: normal;
}

.purple {
    background: #4B5092;
    color: white;
}

.white {
    background: #FFFFFF;
    color: #436BAA;
}


.content-area {
    padding: 50px 20px;
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.img {
    width: 100%;
    max-width: 414px;
    max-height: 414px; 
}

.center-area {
    text-align: center;
}


.img-center {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.top-adjust {
    margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.blue {
    background-color: #F2F8FF;
    width: 92%;
    margin: 0;
}

.extra-margin {
    padding-top: 100px;
}

.img-margin-adjust {
    margin-top: 20px;
}

.left-area {
    text-align: left;
}


.gradient-background {
    background: linear-gradient(100deg, #BAD4FF 0%, #6487BF 100%);
}

.text-margin-adjust {
    margin-bottom: 10px;
}

.panel {
    border-radius: 30px;
    padding: 60px 40px;
    margin-bottom: 20px;
}

.panel-blue {
    background: #E4F0FF;
}

.panel-purple {
    background: rgba(114, 122, 239, 0.10);
}

.margin-top-adjust {
    margin-top: 40px;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.30);
    padding-bottom: 100px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.icon {
    width: 55%;
}


.icon-circle {
    background: rgba(128, 173, 245, .2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    justify-content: center;
    align-items: center;
    display:flex;
}

.right-task-bar {
    display: none;
}

.padding-lf-right {
    margin-left: 2%;
    margin-right: 2%;
}

.flex-modify {
    display: block;
}

.left-area {
    text-align: center;
}

.desktop-only {
    display: none;
}

.panels-image-container {
    display: block;
}

@media only screen and (min-width: 992px) {
    .mobile-constraint {
        max-width: none;
        padding: 0;
        margin: 0;
    }
    #title {
        display: flex;
        justify-content: left;
        padding-left: 10%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: none;
    }
    .right-task-bar {
        display: flex;
        width: 100%;
        margin-left: 50%;
        margin-top: 1%;
    } 
    
    .flex-modify {
        display: flex;
        align-items: center;
    }

    .reverse-flex {
        flex-direction: row-reverse;
    }
    
    .img {
        max-width: 600px;
        max-height: 600px;
    }
    .left-area {
        text-align: left;
        padding-left: 9%
    }

    .margin-adjust {
        margin-bottom: 0;
        margin-top: 0;
    }

    .blue {
        border-radius: 50px;
        background: #F2F8FF;
        width: 600px;
        margin-top: 50px;
        min-width: 400px;
        height: 400px;
        margin-left: 50px;
    }

    #second-workout {
        width: 100%;
        min-width: 500px;
        height: 500px;
    }

    #third-image {
        margin-bottom: 0;
        padding-bottom: 0; 
        width: 550px;
    }

    .content-section {
        padding: auto;
        margin: auto;
    }

    .desktop-adjust {
        width: 200px;
        min-width: 200px;
        margin-left: 10%;
    }

    .extra-padding {
        margin-left: 100px;
    }

    .desktop-center {
        text-align: center;
    }

    .text-area {
        width: 500px;
        margin-right: 15%;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
    .margin-left {
        margin-left: 600px;
    }

    .panels-image-container {
        display: flex;
    }

    .panels {
        display: flex;
        width: 70%;
        flex-wrap: wrap;  
    }
    .panel {
        width: 50%;
        box-sizing: border-box;
    }
    footer.content-section-container {
        display: flex;
        padding: 40px 0 0;
      }
      .footer-icons {
        display: none;
      }
      
      footer h3 {
        width: 30%;
        text-align: left;
      }
      footer ul {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        padding: 0;
        padding-right: 10%;
      }
      footer li {
        padding-top: 15px;
      }
      footer .stay-up-to-date {
        padding-top: 10px;
        width: 30%;
        text-align: left;
      }
      
      footer .stay-up-to-date input[type="text"] {
        width: 100%; 
        box-sizing: border-box;
      }
      
      #copyright {
        text-align: left;
        margin-top: 0;
        padding-top: 0;
      }
}
    



