body {
  min-width: 100%;
  min-height: 100vh;
  font-family: Hellix;
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  max-width: 450px;
}

button {
  border-radius: 30px;
  border: none;
  width: 60%;
  height: 60px;
  font-size: 1rem;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

input {
  width: 50%;
  height: 34px;
  border-radius: 10px;
  box-shadow:
    0px 10px 20px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border: none;
  margin-top: 20px;
  padding-left: 10px;
  background: url("https://assets.codepen.io/6060109/icon-send.png") white 95%
    50% no-repeat;
  font-weight: 500;
}

input::placeholder {
  color: #111235;
}

.container {
  text-align: center;
}

.sub-container {
  text-align: left;
}

.container-margin {
  margin-top: 200px;
}

.padding-container {
  padding: 0 20px;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 100px;
}

.blue-container {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
  padding: 0 20px;
  text-align: center;
  padding-top: 100px;
}

.navbar {
  height: 75px;
  box-shadow:
    0px 10px 20px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items {
  display: none;
}

.image-container {
  height: 300px;
  width: 100%;
}

.image-container-v2 {
  height: 400px;
}

.primary-color {
  background-color: #4b5092;
  color: white;
}

.secondary-color {
  background-color: white;
  color: #436baa;
}

.py-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.message-box {
  padding: 60px;
  border-radius: 20px;
}

.message-box p {
  font-size: 1.4rem;
}

.bg-blue {
  background: #e4f0ff;
}

.bg-purple {
  background: rgba(114, 122, 239, 0.1);
}

.panel-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  background-color: rgba(128, 173, 245, 0.2);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.icon img {
  width: 60%;
}

.gap-10 {
  gap: 10px;
}

.display-screen {
  display: none;
}

.display-phone {
  display: block;
}

.display-phone-flex {
  display: flex;
}

.gap-30 {
  gap: 30px;
}

.footer-display {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px 0;
}

@media only screen and (min-width: 992px) {
  img {
    max-width: 90%;
  }
  input {
    width: 100%;
  }
  .margin-right {
    margin-right: 70px;
  }
  .padding-container {
    padding: 0 40px;
  }

  .container {
    text-align: left;
  }
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 70px;
  }

  .navbar {
    justify-content: space-between;
    box-shadow: none;
    padding: 0 50px;
    gap: 30px;
  }

  .navbar img {
    width: 20px;
    height: 20px;
  }

  .image-container {
    height: 700px;
  }

  .margin-right-screen {
    margin-right: 100px;
  }

  .second-half {
    width: 60%;
    margin-left: 80px;
    margin-right: 50px;
  }

  .flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .flex-row-standard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-between {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0;
  }

  .blue-box {
    background-color: #e4f0ff;
    border-radius: 20px;
    height: 320px;
    padding-left: 30px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 70%;
    height: auto;
  }

  .half {
    width: 50%;
    height: 400px;
    margin: 0;
  }
  .image-container-v2 {
    height: 100%;
  }

  .display-screen {
    display: block;
  }

  .display-phone {
    display: none;
  }

  .display-phone-flex {
    display: none;
  }

  .panel-grid {
    grid-template-columns: 1fr 1fr;
    width: 60%;
  }

  .image-container-v3 {
    margin-bottom: 200px;
    height: 800px;
    width: 600px;
  }

  .btn {
    width: 200px;
  }

  .footer-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 300px;
  }
}
